
.workspace-card modelbutton:last-child {
  color: var(--error-color);
}

.divider {
  margin-left: 12px;
  margin-right: 12px;
  background-color: var(--border-color);
}

.drag-active {
    outline: 1px dotted var(--accent-fg-color);
    outline-offset: -2px;
}