:root {
  --editor-margin: 8px;
}

.bglogo {
  background-image: url("resource:///com/tenderowl/norka/icons/otter.png");
  background-position: left bottom;
  background-size: 128px;
  background-repeat: no-repeat;
  transform: rotate(-18deg);
  opacity: 0.1;
}

.workspace-card modelbutton:last-child {
  color: var(--error-color);
}

.divider {
  margin-left: 12px;
  margin-right: 12px;
  background-color: var(--border-color);
}

.drag-active {
    outline: 1px dotted var(--accent-fg-color);
    outline-offset: -2px;
}

.sourceview {
  /* color: var(--view-fg-color); */
  /* background-color: var(--view-bg-color); */
  border-radius: calc(12px - var(--editor-margin));
  margin-top: var(--editor-margin);
  margin-bottom: var(--editor-margin);
}
